@import 'src/assets/styles/variables';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  position: relative;
  min-height: 100%;
}

// BEGIN: Selection Color
::selection {
  /* WebKit/Blink Browsers */
  background: $primary--color;
  color: $secondary--color;
}

::-moz-selection {
  /* Gecko Browsers */
  background: $primary--color;
  color: $secondary--color;
}
// END: Selection Color

// BEGIN: Global styles
h1 {
  font-size: 2rem;
  font-weight: $font--bold;
}

h2 {
  font-size: 1.8rem;
  font-weight: $font--semibold;
}

h3, h4, h5, h6 {
  font-size: 1.6rem;
  font-weight: $font--normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font--highlight;
  color: $primary--color;
  text-transform: uppercase;
}

p, a {
  font-family: $font--default;
  font-size: 1.2rem;
}

a {
  color: $primary--color;
  font-weight: $font--semibold;
}
// END: Global styles

// BEGIN: Responsive
@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  * {
    font-size: 14px;
  }
}
// END: Responsive
