header {
  padding-bottom: 2rem;
}

.logo {
  height: 90px;
  width: auto;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
